.body-left-manage{
    width: 100%;
    height: 100%;
}
.body-left-manage-p{
    margin-left: 5.3%;
    width:36px;
    height:25px;
    font-size:18px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(3,0,12,1);
    line-height:25px;
}
.body-right-content{
    width: 94%;
    height:84%;
    background:rgba(242,243,247,1);
    position: absolute;
    left: 5.3%;
    bottom: 2%;
}